/* Home.module.css */

.homeContainer {
    text-align: center;
    padding: 20px;
    background-color: black;
}

.title {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.imageSlider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.slide {
    width: 100%;
    max-width: 800px;
    height: auto;
    transition: opacity 1s ease-in-out;
    animation: slideAnimation 10s infinite;
}

@keyframes slideAnimation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.infoSection {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.infoSection h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}

.infoSection p {
    font-size: 1.2em;
    color: #ffffff;
    line-height: 1.6;
}
